<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="commonMetaAndTitle">
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-Compatible" content="IE=edge">
        <title>Framework</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, viewport-fit=cover'">
        <meta name="format-detection" content="telephone=no">
    </th:block>

    <th:block th:fragment="commonStyle">
        <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32">

        <!-- 플러그인 CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/lib/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="/static/lib/swiper/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/static/lib/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
        <link rel="stylesheet" href="/static/lib/mCustomScrollbar/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/static/lib/fullcalendar/core/main.css">
        <link rel="stylesheet" href="/static/lib/fullcalendar/daygrid/main.css">
        <link rel="stylesheet" href="/static/lib/fullcalendar/timegrid/main.css">
        <link rel="stylesheet" href="/static/lib/jstree/themes/default/style.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
        <!-- 퍼블리셔 용 CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <!-- 개발자 추가 CSS -->
        <link rel="stylesheet" href="/static/css/additional.css">

        <!-- 플러그인 Script -->
        <script src="/static/lib/jquery/jquery.min.js"></script>
        <script src="/static/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/swiper/js/swiper-bundle.min.js"></script>
        <script src="/static/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="/static/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
        <script src="/static/lib/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/static/lib/split.js/split.min.js"></script>
        <script src="/static/lib/jstree/jstree.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>-->
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    </th:block>

</html>