<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common">
    <header id="header">
        <div class="row">
            <div class="col-auto">
                <div class="left">
                    <a href="#" class="logo">
                        <span>관리자</span>
                    </a>
                </div>
            </div>
            <div class="col">
                <nav class="gnb">
                </nav>
            </div>
            <div class="col-auto">
                <div class="right">
                    <button type="button" class="btn-my-setting" id="mySetting" data-toggle="dropdown"><i class="material-icons">settings</i></button>
                    <div class="dropdown-menu" aria-labelledby="mySetting">
                        <a href="/admin/institue/code/authourity" class="dropdown-item">정보수정</a>
                    </div>
                    <button type="button" class="btn-logout" onclick="document.location.href='/bo/logout'"><i class="material-icons">logout</i></button>
                </div>
            </div>
        </div>
    </header>
</div>
</html>