<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<body>
	<div layout:fragment="contents" th:remove="tag">
		<main id="content" role="main">
			<h2 class="title">공지 수정</h2>
			<div class="row p-3">
	            <div class="col-12">
					<form id="updateNoticeForm" name="updateNotice"	th:object="${modify}">
						<input type="hidden" id="noticeSeq" name="noticeSeq" th:value="${modify.noticeSeq}" />
						<input type="hidden" id="noticeFileSeq" name="noticeFileSeq" th:value="${modify.fileSeq}" />
						<table class="table table-bordered">
							<colgroup>
								<col style="width:120px" />
								<col />
							</colgroup>
							<tr>
								<th class="text-center">공지 종류</th>
								<td>
									<select id="selectType" name="selectType" class="form-control w-auto"
		                             		data-url="/bo/cd/BOARD_TYPE"
											th:data-selected="${modify.noticeTypeCd}"
	                      			></select>
								</td>
							</tr>
							<tr>
								<th class="text-center">공지 제목</th>
								<td><input type="text" class="form-control" id="title" name="title" th:field="*{title}" ></td>
							</tr>
							<th:block th:if="${file ne null}">
								<tr th:if="${file.size() ne 0}">
									<th class="text-center">첨부 파일</th>
									<td>
										<th:block th:unless="${#lists.isEmpty(file)}" th:each="list : ${file}">
											<a th:name="${list.id}" th:text="${list.originName}" th:href="${list.url}" class="mr-1"></a>
											<button type="button" class="btn btn-sm btn-danger" data-role="fileDelete" th:name="${list.id}">파일 삭제</button>
										</th:block>
									</td>
								</tr>
							</th:block>
							<tr>
								<td colspan="2">
									<textarea class="form-control ckeditor" id="noticeContent" name="noticeContent" rows="12" cols="50" th:field="*{content}" ></textarea>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<input type="file" id="notice-upload" multiple="multiple" name="file">
								</td>
							</tr>
						</table>
						<div class="m-t-10 text-right">
							<button type="button" class="btn btn-dark" data-role="update">수정하기</button>
							<button type="button" class="btn btn-dark" data-role="detail">취소</button>
						</div>
					</form>
				</div>
			</div>
		</main>
	</div>
</body>
</html>