<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/communityLayout">
<body>
<div id="container-block">
    <div layout:fragment="contents" th:remove="tag">
        <div class="layout-content">
            <div class="sub-content-head">
                <input type="hidden" name="communityType" th:value="${searchInfo.communityType}"/>
                <h3 class="subtitle" th:text="${searchInfo.communityTypeNm}"></h3>
                <button type="button" id="writeCommunityModal" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal-write">글쓰기</button>
            </div>
            <div class="community-content">
                <h4 class="table-subtitle mb-3">최신 글</h4>
                <div class="feed-list">
                    <ul>
                        <th:block th:each="list : ${communityList}">
                            <!-- 내가 등록자일 때 -->
                            <th:block th:if="${list.createSeq eq #authentication.principal.id}">
                                <li>
                                    <div class="row row-40 align-items-center">
                                        <th:block th:if="${list.communityType} eq 'COMPANY_CURIOUS' or ${list.communityType} eq 'PASS_REVIEW'">
                                            <div>
                                            <span class="tag tag-lg tag-outline-primary m-0">
                                              <em th:text="${list.companyName}">삼성전자</em>
                                            </span>
                                            </div>
                                        </th:block>
                                        <div class="col feed-body">
                                            <div class="title"><a
                                                    th:href="'/fo/community/board/detail?communityType=' + ${list.communityType} + '&communitySeq='+ ${list.communitySeq}"
                                                    th:text="${list.title}"></a></div>
                                            <p class="desc" th:text="${list.content}"></p>
                                            <p class="name" th:text="${list.name}"></p>
                                        </div>
                                        <div class="post-cell">
                                            <p class="date" th:text="${list.difDate}">24시간 전</p>
                                            <div class="post-cell__list">
                                                <span class="view" th:text="'조회수 ' + ${list.hit}">조회수 123</span>
                                                <span class="like" th:text="'좋아요 ' + ${list.recommend}">좋아요 1</span>
                                                <span class="comment" th:text="'댓글 ' + ${list.commentCnt}">댓글 13</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </th:block>
                            <!-- 내가 등록자가 아닐 때 -->
                            <th:block th:if="${list.createSeq ne #authentication.principal.id}">
                                <li>
                                    <div class="row row-40 align-items-center">
                                        <th:block th:if="${list.communityType} eq 'COMPANY_CURIOUS' or ${list.communityType} eq 'PASS_REVIEW'">
                                            <div>
                                            <span class="tag tag-lg tag-outline-primary m-0">
                                              <em th:text="${list.secretFlag eq 'Y'? '*****':list.companyName}">삼성전자</em>
                                            </span>
                                            </div>
                                        </th:block>
                                        <div class="col feed-body">
                                            <div class="title"><a
                                                    th:href="${list.secretFlag eq 'Y'? 'javascript:void(0)':'/fo/community/board/detail?communityType=' + list.communityType + '&communitySeq='+ list.communitySeq}"
                                                    th:text="${list.secretFlag eq 'Y'?'*****':list.title}"></a></div>
                                            <p class="desc" th:text="${list.secretFlag eq 'Y'?'*****':list.content}"></p>
                                            <p class="name" th:text="${list.secretFlag eq 'Y'?'***':list.name}">홍**</p>
                                        </div>
                                        <div class="post-cell">
                                            <p class="date" th:text="${list.difDate}">24시간 전</p>
                                            <div class="post-cell__list">
                                                <span class="view" th:text="${'조회수 ' + list.hit}">조회수 123</span>
                                                <span class="like" th:text="${'좋아요 ' + list.recommend}">좋아요 1</span>
                                                <span class="comment" th:text="${'댓글 ' + list.commentCnt}">댓글 13</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </th:block>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="modal" th:remove="tag">
        <!-- 커뮤니티 글쓰기 - ap -->
        <div class="modal fade" id="modal-write" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-write modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">게시글 쓰기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form name="communityForm">
                        <input type="hidden" name="secretFlag" value="N">
                        <input type="hidden" name="companySeq" value=""/>
                        <div class="modal-body">
                            <div class="select-form">
                                <select name="communityType" data-role="communitySelect" class="select-design"
                                        style="width: 100%">
                                    <option value="WORKER_TALK">직장인 수다</option>
                                    <option value="WORKER_WORRY">직장인 고민</option>
                                    <option value="WORKER_ALL">면접/이직/퇴사</option>
                                    <option value="PASS_REVIEW">합격 후기</option>
                                    <option value="COMPANY_CURIOUS">이 회사가 궁금해요</option>
                                </select>
                            </div>
                            <div class="form-check justify-content-start mb-3" name="secretChk" id="secretChk"
                                 style="display: none">
                                <input class="form-check-input" name="secretChk" type="checkbox" value="Y"
                                       id="multipleCheckAp"/>
                                <label class="form-check-label" for="multipleCheckAp"> 비밀글 설정 (체크시 해당 기업 헤드헌터와 작성자만 볼 수
                                    있습니다.) </label>
                            </div>
                            <div class="form-group position-relative company-area mb-3" name="searchCompany"
                                 id="searchCompany" style="display: none">
                                <div class="search-box">
                                    <input type="text" name="companyNames" class="" placeholder="회사 이름을 입력하세요"/>
                                    <button type="button" class="search-btn"><i class="icon-search-dark"></i></button>
                                </div>
                                <div class="search-result-list company">
                                    <ul></ul>
                                </div>
                            </div>
                            <div class="select-form mb-3" name="position" id="position" style="display: none">
                                <select class="select-design" name="position" style="width: 100%">
                                    <option value="">채용공고를 선택하세요</option>
                                    <th:block th:each="list : ${position}" th:if="${list.passCommunityCnt eq '0'}">
                                        <option th:value="${list.companySeq}"
                                                th:text="${list.title}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-md" name="title" id="communityTitle"
                                       placeholder="제목을 입력하세요" maxlength="30"/>
                            </div>
                            <div class="form-textarea">
                                <textarea name="content" id="communityContent" cols="30" rows="10"
                                          placeholder="내용을 입력하세요" maxlength="300"></textarea>
                            </div>
                            <div class="form-upload">
                                <input type="file" data-role="upFile" data-seq="1" class="" name="files"
                                       id="communityFormFile1"/>
                                <label for="communityFormFile1"><i class="icon-input-add"></i></label>
                            </div>
                            <div class="preview-image-wrap">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary m-r-5" data-role="close"
                                data-bs-dismiss="modal">닫기
                        </button>
                        <button type="button" data-role="save" class="btn btn-primary">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
