<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.core.mapper.db1.fo.FoInterestHhMapper">
	
	<!-- Front 관심 헤드헌터 --> 
	<select id="selectInterestHhList" parameterType="FoInterestHhDTO" resultType="FoInterestHhDTO">
		SELECT ih.id
			 , m.name
			 , m.phone
			 , m.email
		     , m.profilePictureFileId
			 , (SELECT GROUP_CONCAT(TCD.cd_nm SEPARATOR ',') FROM tb_common_cd TCD, hh_position_field HPF WHERE HPF.member_id = ih.headhunter_id AND TCD.cd = HPF.fieldCd AND delFlag = 'N') fieldCdNm
			 , h.greeting
			 , h.sfName
			 , ih.headhunter_id
			 , ih.createdAt
			 , ih.updatedAt
			 , ih.delFlag
			 , (SELECT COUNT(*) FROM position p WHERE ih.headhunter_id = p.member_id AND deleted = 0 AND endDate > NOW() AND status = 'DOING') AS progressCnt
		FROM interest_hh AS ih
		INNER JOIN member AS m
		ON m.id = ih.headhunter_id
		INNER JOIN headhunter AS h
		ON h.member_id = ih.headhunter_id
		WHERE ih.delFlag = 'N' AND ih.applicant_id = #{frontSession.id}
	</select>
	
	<!-- Front 관심 헤드헌터 상세 --> 
	<select id="attentionHeadhunterDetail" parameterType="FoInterestHhDTO" resultType="FoInterestHhDTO">
		SELECT ih.id
			 , m.name
			 , m.phone
			 , m.email
			 , fn_get_common_cd(hpf.fieldCd, '', 1) AS fieldCd
			 , h.greeting
			 , ih.headhunter_id
			 , ih.createdAt
			 , ih.updatedAt
			 , ih.delFlag
		FROM interest_hh AS ih
		INNER JOIN member AS m
		ON m.id = ih.headhunter_id
		INNER JOIN hh_position_field AS hpf
		ON hpf.member_id = ih.headhunter_id
		INNER JOIN headhunter AS h
		ON h.member_id = ih.headhunter_id
		WHERE ih.delFlag = 'N' AND ih.headhunter_id = '2'
		LIMIT 1
	</select>
	
	<update id = "attentionHeadhunterDelete" parameterType="FoInterestHhDTO">
		UPDATE interest_hh
        SET delFlag = 'Y'
        WHERE id = #{id}
	</update>
</mapper>