<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/applicationLayout}">
<body>
<div id="container-block">
    <div layout:fragment="contents" th:remove="tag">
        <div class="layout-content">
            <h3 class="subtitle poppins">입사지원 현황</h3>
            <div class="title-line mt-4 mb-5"></div>
            <div class="apply-dashbaord">
                <div class="row row-0">
                    <div class="col">
                        <a href="/fo/user/application/job-position" class="">
                            <strong th:text="${searchInfo.totalProposalCnt}"></strong>
                            <span>받은 포지션 제안</span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/fo/mypage/application-status">
                            <strong th:text="${searchInfo.totalCount}"></strong>
                            <span>지원완료</span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/fo/user/application/past-support">
                            <strong th:text="${searchInfo.totalPassCnt}">0</strong>
                            <span>최종합격</span>
                        </a>
                    </div>
                </div>
            </div>
            <form name="searchForm">
                <input type="hidden" name="page" th:value="${searchInfo.page}"/>
            </form>
            <div class="resume-form">
                <div class="fake-table">
                    <div class="fake-table-head">
                        <div class="fake-table-cell">지원형태</div>
                        <div class="fake-table-cell">지원내역</div>
                        <div class="fake-table-cell">진행상태</div>
                        <div class="fake-table-cell">이력서 수정 동의여부</div>
                    </div>
                    <th:block th:if="${#lists.isEmpty(positionList)}">
                        <div class="fake-table-column none-data">
                            <div class="fake-table-cell">
                                <p></p>
                            </div>
                            <div class="fake-table-cell">
                                <p></p>
                            </div>
                            <div class="fake-table-cell">
                                <p class="none-data__desc">데이터가 없습니다.</p>
                            </div>
                            <div class="fake-table-cell">
                                <p></p>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:each="list : ${positionList}">
                        <div class="fake-table-column">
                            <div class="fake-table-cell">
                                <div class="headhunter-wrap">
                                    <p class="h-tag" th:text="${list.regPath == '2'? '본인지원': '제안받은포지션지원'}">직접지원</p>
                                </div>
                            </div>
                            <div class="fake-table-cell text-start">
                                <div class="announcement-wrap">
                                    <p class="scale">
                                        <span th:text="${list.companyScale}"></span>
                                        <span class="company" th:text="${list.companyName}">삼성전자</span>
                                    </p>
                                    <a th:if="${list.progressStep ne 'PASS' and list.progressStep ne 'FAIL' and list.processStatus ne 'FAIL' and list.proposalStatus ne 'REJECT'}"
                                       th:href="'/fo/user/jop/posting/detail?id='+${list.postingId}" class="title"
                                       style="width:500px;" th:text="${list.title}" data-role="postingDetail"></a>
                                    <span th:if="${list.progressStep eq 'FAIL' or list.processStatus eq 'FAIL' or list.proposalStatus eq 'REJECT'}"
                                          class="title" style="width:500px;" th:text="${list.title}"
                                          data-role="postingDetail"></span>
                                    <p class="date"><span>지원일</span><span
                                            th:text="${list.createdAt}">2022.10.21 (금)</span></p>
                                </div>
                            </div>
                            <div class="fake-table-cell">
                                <div class="headhunter-wrap">
                                    <p class="h-tag"
                                       th:if="${list.progressStep ne 'PASS' and list.progressStep ne 'FAIL' and list.processStatus ne 'FAIL' and list.proposalStatus ne 'REJECT' and list.processStatus ne 'DOCUMENT_FAIL'}">
                                        전형중</p>
                                    <p class="h-tag" th:if="${list.progressStep eq 'PASS'}">합격</p>
                                    <p class="h-tag"
                                       th:if="${list.progressStep eq 'FAIL' or list.processStatus eq 'FAIL' or list.processStatus eq 'DOCUMENT_FAIL'}">
                                        불합격</p>
                                </div>
                            </div>
                            <div class="fake-table-cell">
                                <div class="btn-group">
                                    <button href="javascript:void(0)"
                                            th:if="${list.progressStep ne 'PASS' and list.progressStep ne 'FAIL' and list.processStatus ne 'FAIL' and list.proposalStatus ne 'REJECT'}"
                                            data-role="resumeModifyFlag" th:data-id="${list.id}"
                                            class="btn btn-outline-primary btn-md"
                                            th:text="${list.resumeModifyFlag} == 'Y'?'동의':'미동의'"
                                            th:disabled="${list.resumeModifyFlag} == 'Y'? true:false">동의
                                    </button>
                                    <button href="javascript:void(0)"
                                            th:if="${list.progressStep eq 'PASS'} or ${list.progressStep eq 'FAIL' or list.processStatus eq 'FAIL' or list.proposalStatus eq 'REJECT'}"
                                            class="btn btn-outline-primary btn-md"
                                            th:text="${list.resumeModifyFlag} == 'Y'?'동의':'미동의'" disabled>동의
                                    </button>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <th:block
                        th:include="common/paging :: paging_Fragment(fnc=*{'fn_go_page(this)'}, pageId=*{'pageName1'})"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
