<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="commonMetaAndTitle">
<meta charset="UTF-8">
<meta http-equiv="x-ua-Compatible" content="IE=edge" />
<title>Resume9</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no,viewport-fit=cover" />
<meta name="format-detection" content="telephone=no" />
<meta name="referrer" content="no-referrer-when-downgrade" />
    </th:block>

    <th:block th:fragment="commonStyle">
<!-- 
<link rel="icon" type="image/png" href="@@webRoot/assets/images/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="@@webRoot/assets/images/favicon-32x32.png" sizes="32x32" /> -->
<!-- jquery js -->
<script src="/static/lib/jquery/jquery.min.js"></script>

<!-- jquery ui -->
<link rel="stylesheet" href="/static/lib/jquery-ui/jquery-ui.min.css" />
<script src="/static/lib/jquery-ui/jquery-ui.min.js"></script>

<!-- select2 -->
<link rel="stylesheet" href="/static/lib/select2/select2.min.css" />
<script src="/static/lib/select2/select2.min.js"></script>

<!-- library css -->
<link rel="stylesheet" href="/static/css/bootstrap-grid.css" />
<!-- <link rel="stylesheet" href="@@webRoot/assets/css/bootstrap.css" /> -->

<!-- publilshing css -->
<link rel="stylesheet" href="/static/css/style.css" />

<!-- library js -->
<script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>

<!-- publishing js -->
<script src="/static/js/ui.js" async></script>

<!-- swiper -->
<link rel="stylesheet" href="/static/lib/swiper/css/swiper-bundle.min.css" />
<script src="/static/lib/swiper/js/swiper-bundle.min.js"></script>

<!-- chatting js -->
<script src="/static/js/common/chat.js"></script>

</th:block>

</html>