<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/mypageLayout">
<body>
<div id="container-block">
    <div layout:fragment="contents" th:remove="tag">
        <div class="layout-content">
            <div class="row row-40 align-items-center">
                <h3 class="subtitle text-center">비밀번호 변경</h3>
                <p class="notice-text">
                    개인정보보호를 위해 6개월마다 주기적으로 비밀번호를 변경하시는 것을 추천합니다.<br/>
                    영문, 숫자, 특수문자를 조합하여 8~30자로 설정해 주세요.
                </p>
                <div class="apply-wrap">
                    <div class="fake-table password">
                        <div class="fake-table-column">
                            <div class="fake-table-cell">
                                <p class="table-cell-title">현재 비밀번호</p>
                                <input type="password" class="form-control form-lg" id="password" name="password"
                                       placeholder="현재 비밀번호"/>
                            </div>
                        </div>
                        <div class="fake-table-column">
                            <div class="fake-table-cell">
                                <p class="table-cell-title">새 비밀번호</p>
                                <input type="password" class="form-control form-lg" id="newPassword" name="newPassword"
                                       placeholder="새 비밀번호"/>
                                <p class="form-text mt-2 text-danger" data-msg-target="newPassword"
                                   style="text-align: left!important;"></p>
                            </div>
                        </div>
                        <div class="fake-table-column">
                            <div class="fake-table-cell">
                                <p class="table-cell-title">비밀번호 확인</p>
                                <input type="password" class="form-control form-lg" id="newPasswordChk"
                                       name="newPasswordChk" placeholder="비밀번호 확인"/>
                                <p class="form-text mt-2 text-left text-danger" data-msg-target="newPasswordChk"
                                   style="text-align: left!important;"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="send-btn">
                    <button type="button" class="btn btn-dark btn-xl" data-role="change">변경하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
