<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<body>
	<div layout:fragment="contents" th:remove="tag">
		<main id="content" role="main">
			<h2 class="title">답변/수정</h2>
			<div class="row p-3">
            	<div class="col-12">
            		<input type="hidden" id="attachFileId" name="attachFileId"
						th:value="${modify.attachFileId}" />
					<table class="table table-bordered">
						<colgroup>
							<col style="width:120px" />
							<col />
						</colgroup>
						<tbody>
							<tr>
								<th class="text-center">ID</th>
								<td th:text="${modify.id}"></td>
							</tr>
							<tr>
								<th class="text-center">작성자 ID</th>
								<td th:text="${modify.memberId}"></td>
							</tr>
							<tr>
								<th class="text-center">작성일</th>
								<td th:text="${modify.createdAt}"></td>
							</tr>
							<tr>
								<th class="text-center">구분</th>
								<td th:text="${modify.qnaTypeCd}"></td>
							</tr>
							<tr>
								<th class="text-center">제목</th>
								<td th:text="${modify.subject}" colspan="7"></td>
							</tr>
							<tr>
								<th class="text-center">내용</th>
								<td th:text="${modify.content}" colspan="7"></td>
							</tr>
							<tr>
								<th class="text-center">답변</th>
								<td><textarea class="form-control ckeditor " rows="10"
										cols="30" th:text="${modify.answer}" name="p_content"
										data-role="answer"></textarea></td>
							</tr>
							<tr>
								<th class="text-center">답변 작성자</th>
								<td th:text="${modify.adminName}" colspan="7"></td>
							</tr>
						</tbody>
					</table>
					<input type="hidden" id="id" th:value="${modify.id}" />
					<div class="m-t-10 text-right">
						<button type="button" class="btn btn-dark" data-role="update">수정</button>
						<button type="button" class="btn btn-dark" data-role="list">취소</button>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
</html>