<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/hh/hhWefirmLayout">
<body>
<div id="container-block">
    <div layout:fragment="contents" th:remove="tag">
        <div class="layout-content">
            <h3 class="subtitle poppins">We펌 개설신청</h3>
            <div class="title-line mt-4 mb-5"></div>
            <div class="apply-wrap-body write">
                <!-- 정보입력 -->
                <div class="content">
                    <h4 class="table-subtitle mb-3 m-t-25">정보입력</h4>
                    <table class="table border-top-1">
                        <colgroup>
                            <col style="width:18%"/>
                            <col style="width:32%"/>
                            <col style="width:18%"/>
                            <col style="width:32%"/>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th class="">사업자등록번호<span class="text-danger">*</span></th>
                            <td class="">
                                <input type="text" class="form-control form-lg" name="sfRegNumber" th:value="${headhunter.sfRegNumber}" placeholder="" disabled/>
                            </td>
                            <th class="">회사명<span class="text-danger">*</span></th>
                            <td class="">
                                <input type="text" class="form-control form-lg" name="name" th:value="${headhunter.sfName}" placeholder=""/>
                            </td>
                        </tr>
                        <tr>
                            <th class="">설립년도<span class="text-danger">*</span></th>
                            <td class="">
                                <input type="text" class="form-control form-lg" name="establishYear" value="" placeholder=""/>
                            </td>
                            <th class="">사업장연락처<span class="text-danger">*</span></th>
                            <td class="">
                                <input type="text" class="form-control form-lg" name="sfPhone" th:value="${headhunter.sfPhone}" placeholder=""/>
                            </td>
                        </tr>
                        <tr>
                            <th class="">대표자명<span class="text-danger">*</span></th>
                            <td class="">
                                <input type="text" class="form-control form-lg" name="ceoName" value="" placeholder=""/>
                            </td>
                            <th class="">이메일<span class="text-danger">*</span></th>
                            <td class="">
                                <input type="text" class="form-control form-lg" name="email" value="" placeholder=""/>
                            </td>
                        </tr>
                        <tr>
                            <th class="">회사 홈페이지<span class="text-danger">*</span></th>
                            <td class="" colspan="3">
                                <input type="text" class="form-control form-lg" name="websiteUrl" value="" placeholder=""/>
                            </td>
                        </tr>
                        <tr>
                            <th class="">회사 로고이미지<span class="text-danger">*</span></th>
                            <td class="" colspan="3">
                                <div class="file-flex">
                                    <div class="form-upload">
                                        <input type="file" class="" name="logoFiles" id="logoFile" />
                                        <label for="logoFile"><span class="file-name m-r-10"></span><i class="icon-input-add"></i></label>
                                    </div>
                                    <p class="m-l-10 text-gray">(파일형식: .jpg, .png, .gif)</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="">R9 We펌 주소<span class="text-danger">*</span></th>
                            <td class="" colspan="3">
                                <div class="d-flex align-items-center">
                                    <p class="m-r-10">https://www.resume9.co.kr/hh/wefirm/</p>
                                    <input type="text" class="form-control form-lg" name="wefirmUrl" value="" placeholder="Resume9에서 사용하실 서치펌 주소를 설정하세요."/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="">We펌 상세설명<span class="text-danger">*</span></th>
                            <td class="" colspan="3">
                                <div class="form-textarea textarea-sm m-0">
                                    <textarea name="description" cols="30" rows="10" placeholder="" class=""></textarea>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end -->
                <!-- 인증제출 -->
                <div class="content">
                    <h4 class="table-subtitle mb-3 m-t-25">인증제출</h4>
                    <table class="table border-top-1">
                        <colgroup>
                            <col style="width:15%"/>
                            <col style="width:35%"/>
                            <col style="width:15%"/>
                            <col style="width:35%"/>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th class="">파일첨부<span class="text-danger">*</span></th>
                            <td class="file-add-area" colspan="3">
                                <div class="file-flex">
                                    <div class="form-upload">
                                        <input type="file" class="" name="files" id="files"/>
                                        <label for="files"><span class="file-name m-r-10"></span><i class="icon-input-add"></i></label>
                                    </div>
                                    <button type="button" class="btn btn-outline-dark btn-md m-l-10" data-role="fileAdd">+ 추가</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end -->
                    <div class="example-form m-t-25">
                        <ul>
                            <li class="d-flex align-items-center justify-content-between">
                                <p>
                                    <span class="text-danger">[필수]</span> We펌 개설 및 이용약관 동의
                                    <a href="javascript:void(0)" class="text-underline text-gray font-size-14" data-bs-toggle="modal" data-bs-target="#modal-email-rejection">내용보기</a>
                                </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Y" id="agree"/>
                                    <label class="form-check-label" for="agree">동의합니다.</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group d-flex justify-content-center m-t-10">
                    <button type="button" class="btn btn-outline-primary" data-role="wefirmRegister">개설신청</button>
                </div>
                <!-- 위펌 약관 동의 -->
			  	<div class="modal fade" id="modal-email-rejection" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			    	<div class="modal-dialog modal-comment modal-dialog-centered">
			      	<div class="modal-content">
			        	<div class="modal-header justify-content-end">
			          		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			        	</div>
			        	<div class="modal-title">
			        		<div class="text-title">레쥬메나인 "We펌" 개설 및 이용약관</div>
			        	</div>
			        	<article>
                        <h3>2020년 12월 08일 시행</h3><br>
                        <dl>
                            <dt>제 1 조 (목적)</dt><br>
                            <dd>
                                이 이용약관(이하 '약관')은 레쥬메나인주식회사(이하 '회사')가 운영하는 “WE펌”을 이용함에 있어 “회사”와 “WE펌”을 이용하는 이용자(이하 “이용자”)간에 이용조건 및 제반 절차, 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.<br><br>
                            </dd>
                        </dl>
                        <dl>
                            <dt>제 2 조 (용어의 정의)</dt>
                            <dd>
                                이 약관에서 사용하는 용어의 정의는 아래와 같습니다.<br><br>

                                1.   사이트 - 이용자에게 서비스를 제공하기 위하여 “회사”가 정보통신설비 등으로 개발하고 운영하는 웹사이트, 모바일웹, 앱 등의 모든 인터넷 매체를 통칭합니다, “개인회원”은 계정(이메일주소와 비밀번호)이나 인증정보를 통해 resume9.co.kr의 웹주소나 모바일앱을 통해 이용할 수 있습니다.<br>
                                2.   서비스 – 구인/구직활동, 이력관리, 취업상담 등을 목적으로 이용할 수 있도록 “회사”가 정한 절차에 따라 등록된 자료를 DB화하고, 각각의 목적에 맞게 분류 가공, 집계하는 정보 제공과 이를 이용할 수 있도록 제공하는 기능등의 모든 부대 기능을 통칭합니다.<br>
                                3.   개인회원 – “회사”가 제공하는 “서비스”를 이용하기 위해 자신의 개인정보와 “채용서류”를 등록한 사람을 말합니다.<br>
                                4.   헤드헌터 회원 – 관련법과 절차에 따라 등록한 “서치펌”에 속한 유료직업상담 원 중 “서비스”를 이용하기 위해 “회사”가 정한 가입절차와 승인을 완료한 회원을 말합니다.<br>
                                5.   회원 – “개인회원”과 “헤드헌터 회원”을 모두 통칭하는 것을 말합니다.<br>
                                6.   서치펌 – 관련법에 따라 국내 유료직업소개사업 회사로 등록한 사업자 중 “회사”와의 이용계약을 통해 개설이 승인된 고급∙전문 인력을 전문으로 하는 유료직업소개 사업자를 말합니다.<br>
                                7.   WE펌 – 동일 ”서치펌”에 실제 소속된 “헤드헌터 회원”들이 그룹을 지정하여 공동으로 직업상담 및 구인활동(이하 “코웍”) 등을 할 수 있도록 “회사”가 제공하는 그룹기능을 말합니다.<br> 
                                8.   포지션 제안 – “헤드헌터 회원”이 구인회사로부터 위임받은 구인 의뢰에 따라 “사이트”에 적법한 구인 정보를 등록하고, 이를 “개인회원”에게 소개하는 일련의 행위를 말합니다.<br>
                                9.   채용서류 – 채용절차법에서 정한 기초심사자료, 입증자료, 심층심사자료를 통칭합니다.<br>
                                10.   아이디 – 회원의 식별과 서비스 이용을 위해 “개인회원”을 가입할 때 지정한 이메일 주소를 말합니다. <br>
                                11.   비밀번호 - 위 제 3항에 따라 “개인회원”에 가입시 “아이디”를 설정하면서 이를 부여받은 자와 동일인임을 확인하고 권익을 보호하기 위하여 "개인회원"이 선정한 문자와 숫자의 조합을 말합니다.<br>
                                12.   매니저 – “서치펌”의 대표자로써 “WE펌”을 개설하고 운영의 책임이 있는 “헤드헌터 회원”을 말합니다.<br>
                                13.   이 약관에서 사용하는 용어 중 본 조에서 정하지 않은 것은 관계법령에서 정하는 바에 따르며, 그 외에는 일반 관례에 따릅니다. 
                            </dd><br>
                        </dl>
                        <dl>
                            <dt>제 3 조 (We펌의 개설과 승인)</dt><br>
                            <dd>
                                1.   “WE펌”의 개설신청은 “헤드헌터 회원” 중 “서치펌”의 대표자임의 증빙할 수 있는 계정으로만 신청할 수 있습니다.  <br>
                                2.   개설신청의 절차는 상기 제1항의 계정으로 “사이트”에서 이 약관 등에 대한 동의 후 소정의 등록절차 (회사의 소정 양식의 개설신청서 작성)와 함께 제출서류(사업자등록증 및 국내 유료직업소개사업 등록증)을 첨부하여 제공하여야 합니다.<br>
                                3.   개설신청에 대해 “회사”는 등록된 정보의 확인을 위해 전문기관이나 정부기관을 통한 정보의 사실 여부를 확인할 수 있습니다. <br>
                                4.   “회사”는 개설신청에 대하여 업무수행상 또는 기술상 지장이 없는 경우에는 원칙적으로 접수순서에 따라 5영업일 이내에 개설의 승낙여부를 이메일로 통보합니다.<br>
                                5.   “회사”는 아래 사항에 해당하는 경우에 대해서는 이용신청을 승낙하지 않거나 유보할 수 있습니다.<br>
                                가. 개설신청에 등록한 “서치펌”정보가 관련법이 정한 등록 또는 자격에 해당하지 않는 경우<br>
                                나. 고급∙전문인력을 전문으로 하는 국내 유료직업소개 회사가 아닌 경우<br>
                                다. 이용신청자의 계정이 이용제한 등의 이유로 정상적인 “서비스”이용이 안되는 경우<br>
                                라. 회사명이나 사업자등록번호 등 제출서류를 허위로 등록했거나, 타 법인의 정보를 도용한 경우<br>
                                마. 개설신청의 정보와 제출한 “서치펌”의 회사 정보가 현격히 다른 경우<br>
                                바. 개설을 신청한 “아이디”가 등록하고자 하는 “서치펌”의 대표자가 아닌 경우<br>
                                아. 개설 신청과 승인을 위한 정보를 충분하게 입력하지 않은 경우<br>
                                자. 기타 사회의 안녕과 질서, 미풍양속을 저해하는 내용이나 목적을 포함한 경우  
                            </dd><br>
                        </dl>
                        <dl>
                            <dt>제 4 조 (We펌의 매니저, 스탭, 멤버의 역할과 권환, 의무)</dt><br>
                            <dd>
                                1.   “매니저”는 법령과 약관을 준수하는 범위 내에서 개설한 “WE펌”의 운영정책과 조건을 설정할 수 있습니다.<br>
                                2.   “매니저”는 운영하는 “WE펌”에 “서치펌”의 실제 종사자인 “헤드헌터 회원”을 가입초대 하거나 가입신청에 대해 승인을 할 수 있습니다.<br>
                                3.   “매니저”는 “WE펌”을 운영하기 위하여 전 항의 방법으로 가입한 “헤드헌터 회원”(이하 “멤버”) 중 한명에게 “스탭”의 권한을 부여하여 운영에 필요한 일부 권한을 위임할 수 있습니다.<br>
                                4.   “매니저”는 법령과 약관을 준수하는 범위 내에서 “스탭”과 “멤버”의 활동 범위 및 등급을 지정할 수 있는 권한과 그에 따른 책임이 있습니다.<br>
                                5.   “매니저”와 “스탭”은 어떠한 경우에도 “멤버”의 사전 서면 허락 없이 개인의 신상정보나 활동정보를 타인에게 제공하거나 공개할 수 없으며, 이를 위반하여 발생하는 모든 책임은 “매니저”에게 있습니다.<br>
                                6.   “매니저”와 “스탭”은 본인의 계정정보에 대한 철저한 보안의무가 있으며 타인에게 유출되어 “WE펌”운영에 문제가 발생한 경우 모든 책임은 “매니저”와 “스탭”에게 있습니다.<br>
                                7.   “WE펌”의 모든 멤버는 본 약관과 레쥬메나인 헤드헌터 회원 이용약관(이하 “헤드헌터 회원 약관”)을 준수해야 하며, 타인의 권리를 침해하는 행위를 하여서는 안됩니다. 또한 “회사”는 서비스의 품질과 안정성을 확보하고 이용자의 정보와 권리를 보호하기 위하여 “서비스”에 대한 프로그램을 통한 기계적 접근과 “운영자”에 의한 운영적 접근을 제한할 수 있으며. 모든 “멤버”는 이 접근 제한을 준수하여야 합니다. 이를 위반한 경우 회사는 멤버에게 이용정지, 운영권한 정지, 회원 탈퇴 등의 이용제한 조치를 할 수 있습니다.<br>
                                8.   “매니저”는 “서치펌”의 대표자 변경의 사유를 제외하고는 그 권한을 다른 “멤버”로 변경 할 수 없습니다. <br>
                                9.   전 항의 사유로 “매니저”를 다른 “멤버”로 변경을 신청하고자 할 경우, “매니저”는 변경사실이 포함된 제3조 2항의 제출서류를 변경 신청과 함께 등록하여 “회사”의 확인 후 변경이 완료됩니다. 단,  변경될 “매니저”는 “헤드헌터 회원”이고, 제출서류에 인적사항이 기록된 대표자만 가능합니다.<br>
                                10.   “매니저”가 탈퇴를 하고자 할 경우에는 “매니저”의 권한을 상기 9항에 따라 변경하거나, 운영 중인 “WE펌”을 폐쇄한 후에만 탈퇴할 수 있습니다. <br>
                                11.   “매니저”는 운영 중인 “WE펌” 내에 아래 사항과 같은 권한이 부여됩니다.<br>
                                가. “매니저”가 대표자로 있는 “서치펌”소속의 “헤드헌터 회원”에 대한 가입, 탈퇴 및 이메일 등 소속정보의 지정권한<br>
                                나. “멤버”간에 자료와 정보를 공유할 수 있는 게시판 서비스 및 메뉴구성<br>
                                다. “WE펌”내 “멤버”들이 이용하는 “코웍”서비스의 운영 및 관리<br>
                                라. 무료열람권 분배 및 유료 포인트의 결제/충전, 이용내역 <br>
                                마. 기타 “회사”가 추가 개발하거나 제휴계약 등을 통해 “WE펌”에 제공하는 일체의 서비스에 대해 운영 및 관리에 필요한 권한
                            </dd><br>
                        </dl>
                        <dl>
                            <dt>제 5 조 (We펌에 가입)</dt><br>
                            <dd>
                                1.   “매니저”가 대표자로 있는 “서치펌”의 종사자 중 본 서비스에 “헤드헌터 회원”인 사람은 누구나 가입을 신청할 수 있으며, 본 약관 및 헤드헌터 회원 약관, 해당 “매니저”가 정한 가입 조건을 준수해야 합니다.<br>
                                2.   해당 “WE펌”의 가입 방식과 조건, 가입의 승낙, 강제탈퇴의 여부는 “매니저”가 결정할 수 있습니다.<br>
                                3.   “WE펌”의 원활한 운영을 위해 “매니저”와 “스탭”에게 “멤버”의 아이디, 이름, 이메일주소, 휴대폰번호, 가입신청일, 가입승낙일, 등록한 채용공고, “코웍”참여내용, 각종 열람권 사용 내역이 공개될 수 있습니다.
                            </dd><br>
                        </dl>
                        <dl>
                            <dt>제 6 조 (We펌의 게시글 및 자료의 관리)</dt><br>
                            <dd>
                                1.   “WE펌”의 모든 게시글과 자료의 관리 및 운영의 역할은 해당 “WE펌”의 “매니저”와 “스탭”이 관리하며 게시글과 자료의 내용은 다음과 같습니다.<br>
                                가. 해당 “WE펌” 내에서 운영 중인 “코웍” 채용공고 및 참여 등의 활동사항<br>
                                나. “매니저”가 해당 “WE펌”내에 개설한 게시판 및 자료실 서비스<br>
                                다. 기타 “매니저”에게 권한이 부여된 해당 “WE펌” 내의 서비스<br>
                                2.   “멤버”는 어떠한 경우에도 본 약관과 헤드헌터 회원 약관에서 금지하거나 타인의 권리를 침해하는 게시글 및 자료를 등록할 수 없으며, 이를 위반하여 발생하는 모든 책임은 게시글 작성자에게 있습니다.<br>
                                3.   “매니저”와 “스탭”은 항상 전 항의 게시글 및 자료에 대해 모니터링을 하여야 하며, 위배되는 게시글 및 자료를 발견하거나 신고를 받으면 해당 게시글 및 자료를 즉시 삭제하고 이를 등록한 멤버에게 주의를 주거나 이용을 제한할 수 있습니다.<br>
                                4.   “WE펌”의 모든 기능은 건전한 구인구직 및 채용중개의 목적으로만 사용해야 합니다.<br>
                                5.   “회사”는 원활한 서비스의 제공을 위해 필요한 경우 “WE펌”의 게시글 및 자료를 모니터링 할 수 있으며, 법령 및 각종 약관에 위배되는 경우 해당 게시글 및 자료를 임의로 삭제할 수 있습니다. <br>
                                6.   “회사”는 전항에 따라 게시글과 자료의 내용을 열람하는 경우, 법령과 기타 약관에서 정한 경우 외에는 제3자에게 제공하지 않습니다.<br>
                                7.   “WE펌”내의 게시글 및 자료로 법령의 위반이나 제3자에게 손해가 발생한 경우 “회사”는 책임을 지지 않습니다.<br>
                                8.   본 약관에서 금지하는 게시글의 판단 기준은 다음 각 호에 따릅니다.<br>
                                가. 국내 해당 자료의 라이선스를 가진 기업이 있거나, 현재 또는 과거에 판매가 된 상용자료<br>
                                나. 저작권자가 배포를 원하지 않거나, 저작권자가 지정한 보호기능을 제거하는 크랙 및 패치 등 저작권 보호/위반 자료<br>
                                다. 바이러스, 악성코드, 해킹행위 등을 실행하거나 유포하는 자료<br>
                                라. 사회에서 일반적으로 통용되는 수준을 넘는 과도한 성적 노출이나 내용을 포함한 음란자료<br>
                                마. 과도한 폭력성이나 타인의 명예 훼손 또는 모욕적인 내용을 가지고 있는 자료<br>
                                바. “서비스”의 제공 목적 이외의 물품 또는 서비스에 대한 매매, 유통, 알선에 대한 자료<br>
                                사. 정보통신망법 제44조의 7항 등의 법령에 위배되거나 기타 약관 및 운영정책에 위배되는 내용의 자료나 “회사”와 이용자에게 불이익을 끼치는 것으로 회사가 판단하는 자료<br>
                                9.   “회사”는 안정적인 서비스 운영 이외의 목적으로는 “WE펌”의 게시글과 자료에 대한 백업을 보장하거나 제공하지 않습니다. 
                            </dd><br>
                        </dl>
                        <dl>
                            <dt>제 7 조 (We펌의 경고 및 강제 폐쇄)</dt><br>
                            <dd>
                                1.   “WE펌”의 운영을 종료하고자 하는 경우 “매니저”는 자진 폐쇄를 신청할 수 있습니다. 단, “매니저”이외에 다른 “멤버”가 있는 경우 전원이 해당 “WE펌”을 탈퇴한 후 자진 폐쇄를 신청할 수 있습니다.<br>
                                2.   “WE펌”의 자진 폐쇄 신청이 접수된 경우 해당”WE펌”은 “코웍”과 게시플의 등록이 중단되며, 7일간의 유예기간이 적용됩니다. “매니저”는 유예기간 내에 폐쇄 신청을 철회할 수 있으며, 유예기간이 만료된 때에는 해당 “WE펌”이 완전히 폐쇄되고 복구가 불가합니다.<br>
                                3.   “WE펌”는 본 약관 및 기타 약관의 위반에 대한 “회사”의 경고가 7일 이내에 시정되지 않거나 지속적으로 반복되는 경우 해당 “WE펌”의 운영을 중단 또는 제한하거나 폐쇄할 수 있습니다.<br>
                                4.   “회사”는 다음 각 호의 경우에 “WE펌”의 운영을 중단하거나 폐쇄할 수 있습니다.<br>
                                가. “WE펌”이 승인 후 제3조 5항에 해당하는 사실이 발견된 경우<br>
                                나. “WE펌”이 3개월 이상 “멤버”의 이용과 “코웍”활동, 신규 게시글이 한건도 없거나, “멤버”수가 1인인 상태로 30일 간 등록된 게시글 또는 “코웍”이 하나도 없는 경우<br>
                                다. 본조 제3항에 의한 경고를 3회 이상 받은 경우<br>
                                라. 법령 등에 의해 “서치펌”의 등록과 자격이 사업을 지속할 수 없는 경우
                            </dd><br>
                        </dl>
                        <dl>
                            <dt>제 8 조 (멤버의 탈퇴 및 자격 상실)</dt><br>
                            <dd>
                                1.   “멤버”는 언제든지 임의로 “WE펌”을 탈퇴할 수 있으며, “매니저”는 “멤버”의 탈퇴가 없더라도 강제로 탈퇴를 시킬 수 있습니다.<br>
                                2.   전항의 “매니저”에 의한 강제탈퇴의 경우에 모든 책임은 “매니저”가 부담합니다.<br>
                                3.   “WE펌”의 “멤버”가 약관 및 법령에 위배되는 행위를 한 경우 모든 관리 책임은 “매니저”가 부담하며, “회사”의 시정요구 및 경고에도 불구하고 별도의 조치나 시정이 안되는 경우, “회사”는 “매니저” 및 “멤버”를 탈퇴하거나 서비스 이용을 제한할 수 있습니다.<br>
                                4.   “회사”로부터 “매니저”권한 정지 및 “헤드헌터 회원” 영구 이용 정지 등의 경우로 인해 “매니저”가 권한을 정상적으로 유지하지 못할 경우 해당 “WE펌”은 “스탭”의 권한만으로 운영되거나 이용중단 또는 폐쇄될 수 있습니다.
                            </dd><br>
                        </dl>
                        <dl>
                            <dt>제 9 조 (약관 외 준칙)</dt><br>
                            <dd>
                                “WE펌” 에 대해이 약관에 명시되지 않은 사항은 “헤드헌터 회원 약관”과 “회사”의 운영원칙에 따르며, “헤드헌터 회원 약관” 및 운영원칙이 이 약관의 내용과 상충되는 경우, 이 약관을 우선하여 적용합니다.
                            </dd><br>
                        </dl>                        
                        <dl>
                            <dt>부칙</dt><br>
                            <dd>
                                이 약관은 2020년 12월 08일부터 시행합니다.
                            </dd>
                        </dl>
                    </article>
			          	<div class="modal-footer">
			            	<button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
			          	</div>
			      	</div>
			    	</div>
			  </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
