<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/hh/mainLayout">
<body>
	<div id="container-block" layout:fragment="contents" th:remove="tag">
		<div class="container">
			<div class="sub-content">
				<p class="center-title">채용공고</p>
				<div class="fake-table posting m-t-10">
					<div class="fake-table-head">
						<div class="fake-table-cell">공고내용</div>
						<div class="fake-table-cell">헤드헌터</div>
					</div>
					<th:block th:if="${#lists.isEmpty(positionList)}">
						<div class="fake-table-column none-data">
							<div class="fake-table-cell">
								<p></p>
							</div>
							<div class="fake-table-cell">
								<p class="none-data__desc">진행중인 채용공고가 없습니다.</p>
							</div>
							<div class="fake-table-cell">
								<p></p>
							</div>
						</div>
					</th:block>
					<th:block th:each="list : ${positionList}">
						<div class="fake-table-column">
							<div class="fake-table-cell text-start">
								<div class="announcement-wrap">
									<input type="hidden" name="id" th:value="${list.id}">
									<p class="scale">
										<span th:text="${list.companyScale}"></span> <span class="company" th:text="${list.isPrivate} == 0 ? ${list.companyName} : '***'">삼성전자</span>
									</p>
									<a th:href="'/hh/company/headhunter-view?positionId='+${list.id}" class="title" th:text="${list.title}" data-role="postingDetail"
										th:data-seq="${list.id}"></a>
									<p class="date">
										<span>공고마감일</span> <span th:text="${list.endDate}">2022.10.21 (금)</span> <span class="text-danger"
											th:text="${#strings.contains(list.dDay, '-') ? '공고마감' : '(D-' + list.dDay + ')'}">(D-15)</span>
									</p>
								</div>
							</div>
							<div class="fake-table-cell text-center">
								<div class="headhunter-wrap">
									<a href="javascript:void(0)" class="name" th:data-member-id="${list.memberId}" data-role="hhInfo" data-bs-toggle="modal"
										data-bs-target="#modal-headhunter" th:text="${list.name}">박준성</a>
									<p class="company" th:text="${list.sfName}">맨쉬컨설팅(주)</p>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
		<!-- 헤드헌터 상세 -->
		<div layout:fragment="modal" th:remove="tag">
					<div class="modal fade" id="modal-headhunter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-headhunter modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body pt-0">
									<form name="headhunterForm">
										<input type="hidden" name="headhunterId" /> <input type="hidden" name="hhMemberId" />
									</form>
									<div class="headhunter-profile-content">
										<div class="headhunter-profile">
											<div class="headhunter-left">
												<div class="headhunter-profile-img" data-bs-toggle="modal" data-bs-target="#modal-headhunter"></div>
											</div>
											<div class="headhunter-profile-info">
												<div>
													<p class="company" name="hhSfName">맨쉬컨설팅(주)</p>
													<p class="name">
														<span name="hhName">홍길동</span> <span name="hhPosition" class="rank">전무</span> <span name="hhSchool" class="txt">연세대학교 금속공학과</span>
													</p>
												</div>
												<div>
													<div class="phone">
														<p>
															<span>연락처</span> <span name="hhPhone" class="phone-number">***-****-****</span>
														</p>
													</div>
												</div>
												<ul class="info-list">
													<li>
														<p>이메일</p> <a href="" id="hhEmail">asdqwe1234@naver.com</a>
													</li>
													<li>
														<p>최근로그인</p>
														<p id="recentLogin">2022-10-11</p>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="apply-wrap">
										<div class="apply-wrap-body">
											<div class="content">
												<h4 class="table-subtitle mb-3">인사말</h4>
												<div class="desc">
													<p class="introduce-text" name="hhIntro"></p>
												</div>
											</div>
											<div class="content">
												<h4 class="table-subtitle mb-3">주요이력</h4>
												<div class="desc" name="hhCareer">
													<ul class="history">
														<li></li>
														<li></li>
														<li></li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4 class="table-subtitle mb-3">전문분야</h4>
												<div class="desc">
													<div class="badge-box" name="hhFields">
														<span class="tag tag-lg tag-outline-primary none-border m-0" name="hhFieldsLow"> <em name="field"></em>
														</span>
														<!-- <span class="tag tag-lg tag-outline-primary none-border m-0">
                                         <em>IT/인터넷</em>
                                       </span>
                                         <span class="tag tag-lg tag-outline-primary none-border m-0">
                                         <em>제조/생산/화학</em>
                                       </span>
                                         <span class="tag tag-lg tag-outline-primary none-border m-0">
                                         <em>의료/제약</em>
                                       </span>
                                         <span class="tag tag-lg tag-outline-primary none-border m-0">
                                         <em>유통/판매</em>
                                       </span>-->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	</div>
</body>
</html>
