<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.core.mapper.db1.bo.BoLogApiMapper">

    <!-- API 로그 GROUP BY COUNT -->
    <select id="selectApiLog" parameterType="BoApiLogDTO" resultType="BoApiLogDTO">
        SELECT url
             , COUNT(*) as count
        FROM tb_api_log
        GROUP BY url
        ORDER BY count DESC
    </select>

</mapper>